In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('weather_data.csv')

In [9]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [16]:
melted = pd.melt(df, id_vars=["day"], var_name='city', value_name='temperature')
melted

         day         city temperature
0   1/1/2017  temperature          32
1   1/2/2017  temperature          35
2   1/3/2017  temperature          28
3   1/4/2017  temperature          24
4   1/5/2017  temperature          32
5   1/6/2017  temperature          31
6   1/1/2017  temperature          34
7   1/2/2017  temperature          39
8   1/3/2017  temperature          18
9   1/4/2017  temperature          14
10  1/5/2017  temperature          12
11  1/6/2017  temperature          51
12  1/1/2017    windspeed           6
13  1/2/2017    windspeed           7
14  1/3/2017    windspeed           2
15  1/4/2017    windspeed           7
16  1/5/2017    windspeed           4
17  1/6/2017    windspeed           2
18  1/1/2017    windspeed           6
19  1/2/2017    windspeed           7
20  1/3/2017    windspeed           2
21  1/4/2017    windspeed           7
22  1/5/2017    windspeed           4
23  1/6/2017    windspeed           7
24  1/1/2017        event        Rain
25  1/2/2017        event       Sunny
26  1/3/2017        event        Snow
27  1/4/2017        event        Snow
28  1/5/2017        event        Rain
29  1/6/2017        event       Sunny
30  1/1/2017        event        Rain
31  1/2/2017        event       Sunny
32  1/3/2017        event        Snow
33  1/4/2017        event        Snow
34  1/5/2017        event        Rain
35  1/6/2017        event       Sunny

In [10]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [11]:
df.tail()

         day  temperature  windspeed  event
7   1/2/2017           39          7  Sunny
8   1/3/2017           18          2   Snow
9   1/4/2017           14          7   Snow
10  1/5/2017           12          4   Rain
11  1/6/2017           51          7  Sunny

In [12]:
df

         day  temperature  windspeed  event
0   1/1/2017           32          6   Rain
1   1/2/2017           35          7  Sunny
2   1/3/2017           28          2   Snow
3   1/4/2017           24          7   Snow
4   1/5/2017           32          4   Rain
5   1/6/2017           31          2  Sunny
6   1/1/2017           34          6   Rain
7   1/2/2017           39          7  Sunny
8   1/3/2017           18          2   Snow
9   1/4/2017           14          7   Snow
10  1/5/2017           12          4   Rain
11  1/6/2017           51          7  Sunny

In [13]:
df.isnull().sum()

day            0
temperature    0
windspeed      0
event          0
dtype: int64

In [14]:
df = pd.DataFrame(data=df,columns=['day', 'temperature', 'windspeed', 'event'])

In [15]:
df

         day  temperature  windspeed  event
0   1/1/2017           32          6   Rain
1   1/2/2017           35          7  Sunny
2   1/3/2017           28          2   Snow
3   1/4/2017           24          7   Snow
4   1/5/2017           32          4   Rain
5   1/6/2017           31          2  Sunny
6   1/1/2017           34          6   Rain
7   1/2/2017           39          7  Sunny
8   1/3/2017           18          2   Snow
9   1/4/2017           14          7   Snow
10  1/5/2017           12          4   Rain
11  1/6/2017           51          7  Sunny